.card {
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid $color-border;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

  &__image {
    width: 160px;
    height: 134px;
    background-repeat: no-repeat;
    margin: 0 auto 40px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $color-main;
    margin-bottom: 4px;
  }

  &__code {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $color-secondary;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $color-main;
  }

  &__price-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
  }

  &__price-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $color-secondary;
  }

  &__price-value {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: $color-main;
  }

  &__button {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    background-color: $primary-button-color;
    color: $color-white;
    text-decoration: none;
    font-family: $font-family-base;
    font-weight: 700;
    font-size: 14px;
    margin-top: auto;

    &:hover {
      background-color: $color-white;
      border: 1px solid $primary-button-color;
      color: $primary-button-color;
    }
  }
}
