@import 'variables';
@import 'stars';
@import 'card';

* {
  box-sizing: border-box;
}

body,
h2,
p {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: $font-family-base;
}
